# Folders to ignore
.git/
neov2/output/
neov2/__pycache__/
output/
__pycache__/
themes/
public/

# General files
CNAME
Makefile

# Ignore docs files
_gh_pages
.ruby-version

# Numerous always-ignore extensions
*.zip
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

terminalGazing/static/img/buttons/braknow.gif
terminalGazing/static/img/buttons/foobar.png
terminalGazing/static/img/buttons/internet-roadkill.gif
terminalGazing/static/img/buttons/neocities.gif
terminalGazing/static/img/buttons/parkcity.gif
terminalGazing/static/img/buttons/shork.png
terminalGazing/static/img/buttons/wget.gif
terminalGazing/static/img/manip/sweetdreams.jpg
terminalGazing/static/img/photo/newGods.jpg
terminalGazing/static/img/ss/wifihotsignals.png
terminalGazing/static/img/manip/spacr_cowboy.jpg
terminalGazing/static/img/ss/wishHiddenCamDetect.png
terminalGazing/static/img/gifs/wantAHotDog.gif
terminalGazing/static/img/photo/baseballBat2theHead.png
terminalGazing/static/img/photo/bluePortals.jpg
terminalGazing/static/img/ss/wifiwutanglan.png