###### Folders to ignore ;;;;;;;;;;;;;;;;;;;;;;;;
###### Base Dirs. ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
.git/
###### General Anywhere Dirs ;;;;;;;;;;;;;;;;;;;;
*/output/
*/__pycache__/
*/public/
###### Site Version Specific Dirs ;;;;;;;;;;;;;;;
terminalGazing/themes/
terminalGazing/static/img/
talkingInNumbers/log/
###### General files ;;;;;;;;;;;;;;;;;;;;;;;;;;;;
CNAME
Makefile
.hugo_build.lock
###### Ignore docs files ;;;;;;;;;;;;;;;;;;;;;;;;
_gh_pages
.ruby-version
###### Numerous always-ignore extensions ;;;;;;;;
*.zip
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
###### OS or Editor folders ;;;;;;;;;;;;;;;;;;;;;
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
###### EOF ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

talkingInNumbers/resources/_gen/assets/scss/scss/coder.scss_fd4b5b3f9a48bc0c7f005d2f7a4cc30f.content