---
title: "BDSMTest.org Results"
date: 2021-02-12T02:22:23Z
draft: false
categories: ["blog"]
tags: ["test results", "fluff", "my sexual spectrum"]
summary: "I'm a submissive kinky as fuck switch."
location: "The Dungeon of Sodomy"
---

== Results from [bdsmtest.org](https://bdsmtest.org) == 
* 99% Non-monogamist 
* 96% Voyeur 
* 89% Experimentalist 
* 87% Rope bunny 
* 85% Degradee 
* 85% Submissive 
* 81% Exhibitionist 
* 81% Boy/Girl 
* 78% Slave 
* 75% Degrader 
* 73% Ageplayer 
* 69% Brat 
* 67% Switch 
* 66% Daddy/Mommy 
* 64% Pet 
* 59% Masochist 
* 52% Primal (Prey) 
* 49% Sadist 
* 46% Primal (Hunter) 
* 46% Rigger 
* 45% Dominant 
* 45% Master/Mistress 
* 42% Brat tamer 
* 35% Owner 
* 24% Vanilla 
[BDSM.org](http://bdsmtest.org/r/agJ6Rj5b)
