* {
  margin: 0;
  padding: 0;

  font-family: Monospace, mono;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f30;
}

.ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
.inv_foreground { color: #000000; }
.inv_background { background-color: #AAAAAA; }

a:hover {
  color: #f90;
}

#main {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 600px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#footer {
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	border-top:1px solid #ccc;
	text-align: center;
	font-size:9px;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}
.ansi48-23 { background: #002a2a; }
.ansi48-24 { background: #002a54; }
.ansi48-25 { background: #002a7e; }

.ansi48-31 { background: #00547e; }
.ansi48-32 { background: #0054a8; }

.ansi48-37 { background: #007e7e; }
.ansi48-38 { background: #007ea8; }

.ansi48-43 { background: #00a87e; }

.ansi48-53 { background: #2a002a; }
.ansi48-54 { background: #2a0054; }

.ansi48-58 { background: #2a2a00; }

.ansi48-60 { background: #2a2a54; }

.ansi48-65 { background: #2a542a; }
.ansi48-66 { background: #2a5454; }

.ansi48-73 { background: #2a7e7e; }
.ansi48-74 { background: #2a7ea8; }

.ansi48-79 { background: #2aa87e; }

.ansi48-94 { background: #542a00; }
.ansi48-95 { background: #542a2a; }
.ansi48-96 { background: #542a54; }

.ansi48-101 { background: #54542a; }

.ansi48-130 { background: #7e2a00; }
.ansi48-131 { background: #7e2a2a; }

.ansi48-136 { background: #7e5400; }
.ansi48-137 { background: #7e542a; }
.ansi48-138 { background: #7e5454; }

.ansi48-143 { background: #7e7e2a; }
.ansi48-144 { background: #7e7e54; }

.ansi48-146 { background: #7e7ea8; }

.ansi48-151 { background: #7ea87e; }
.ansi48-152 { background: #7ea8a8; }

.ansi48-167 { background: #a82a2a; }

.ansi48-169 { background: #a82a7e; }

.ansi48-172 { background: #a85400; }
.ansi48-173 { background: #a8542a; }
.ansi48-174 { background: #a85454; }
.ansi48-175 { background: #a8547e; }

.ansi48-179 { background: #a87e2a; }
.ansi48-180 { background: #a87e54; }
.ansi48-181 { background: #a87e7e; }

.ansi48-186 { background: #a8a854; }
.ansi48-187 { background: #a8a87e; }

.ansi48-211 { background: #d2547e; }

.ansi48-215 { background: #d27e2a; }
.ansi48-216 { background: #d27e54; }
.ansi48-217 { background: #d27e7e; }
.ansi48-218 { background: #d27ea8; }

.ansi48-221 { background: #d2a82a; }
.ansi48-222 { background: #d2a854; }
.ansi48-223 { background: #d2a87e; }
.ansi48-224 { background: #d2a8a8; }

.ansi48-229 { background: #d2d27e; }
.ansi48-230 { background: #d2d2a8; }

.ansi48-232 { background: #080808; }
.ansi48-233 { background: #121212; }
.ansi48-234 { background: #1c1c1c; }
.ansi48-235 { background: #262626; }
.ansi48-236 { background: #303030; }
.ansi48-237 { background: #3a3a3a; }
.ansi48-238 { background: #444444; }
.ansi48-239 { background: #4e4e4e; }
.ansi48-240 { background: #585858; }

.ansi48-242 { background: #6c6c6c; }
.ansi48-243 { background: #767676; }
.ansi48-244 { background: #808080; }
.ansi48-245 { background: #8a8a8a; }
.ansi48-246 { background: #949494; }
.ansi48-247 { background: #9e9e9e; }
.ansi48-248 { background: #a8a8a8; }
.ansi48-249 { background: #b2b2b2; }
.ansi48-250 { background: #bcbcbc; }
.ansi48-251 { background: #c6c6c6; }
.ansi48-252 { background: #d0d0d0; }
.ansi48-253 { background: #dadada; }

.ansi48-255 { background: #eeeeee; }
