<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/rursus-compact-mono" type="text/css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
 {% feed_meta %}  
 <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101286791);</script>
 <script async src="//static.getclicky.com/js"></script>
 
  </head>
